{{#each userBlogs.blogs}}
<div class="blog_thumbnail">
<h1><a href="/{{this.id}}">{{this.title}}</a></h1>
<a class="btn btn-default" href="/p/edit/{{this.id}}">Edit</a>
<a class="btn btn-default"  style="color:red" onclick="deleteBlog('{{this.id}}')">Delete</a>
<hr/>
{{this.description}}
</div>
{{else}}
 <p class="empty">No content</p>
    {{/each}}
    <!--xml http request/ajax call to delete the -->
    <script>
        function deleteBlog(id){
            alert('are you sure?');
            let ourRequest = new XMLHttpRequest();
            ourRequest.open('DELETE', '/p/delete/'+id, true);
            ourRequest.send();
            ourRequest.onload = function(){
                ourData = JSON.parse(ourRequest.responseText);
                console.log(ourData);
                if(ourData.result){
                    window.location.reload();
                }else{
                    alert('something went wrong');
                }
            }
        }
    </script>